@mixin charbase($color){
  white-space: pre;
  margin: 3px;
  // border-radius: 22px;
  // border: solid 2px $color;
  width: 180px;
}

.char {
  @include charbase(#1890ff);
  cursor: pointer;
}

.error{
  @include charbase(#fa541c);
}

.char:hover {
  transform: scaleX(1.05);
  font-weight: bold;
}

.container {
  display: flex;
}
.side {
  flex: 0;
  flex-basis: 100px;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  user-select: none;
}

.dis{
  flex: 1;

}

.tag {
  margin: 50px 20px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user{
  color: #e6f7ff;
  background-color: #1890ff;
  margin: 3px;
}
.invalidUser{
  color: white;
  background-color: #cccccc;
  margin: 3px;
}
.female{
  color: white;
  background-color: rgb(245, 106, 0);
  margin: 3px;
}
.card{
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 5px 0 rgba(100, 100, 100, 0.2);
}