
$headerheight: 65px;
$sidewidth: 170px;
.headerwrap{
  background-color: #001529;
  width: 100%;
  height: $headerheight;
  display: flex;
  padding: 5px 20px;
}
.icon{
  height: 55px;
  width: 55px;
  cursor: pointer;
}
.smallicon{
  width: 14px;
  height: 14px;
  fill: gray
}
.smallicon:active{
  fill: blue;
}
.titlewrap{
  flex-basis: 200px;
  flex-grow: 4;
  display: flex;
}
.userwrap{
  flex-basis: 150px;
  flex-grow: 1;
  display: flex;
}
.user{
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.title{
  color: white;
  margin: 7px 10px;
  font-size: 26px;
}
.usericon{
  width: $headerheight - 10px;
  fill: white;
}

.side{
  width: $sidewidth;
  user-select: none;
}
.content{
  flex-basis: 400px;
  flex-grow: 1;
  padding: 20px;
}